<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
	    <h2>게시글 등록</h2>
	    <!-- <form id="frm" name="frm" method="post" enctype="multipart/form-data" onsubmit="return false"> -->
	    	<form id="frm" name="frm" method="post" enctype="multipart/form-data">
	    	<table class="board_detail">
	    		<tr>
	    			<td>제목</td>
	    			<td><input type="text" id="title" name="title"/></td>
	    		</tr>
	    		<tr>
	    			<td colspan="2">
		    			<textarea id="contents" name="contents"></textarea>
	    			</td>
	    		</tr>
	    	</table>
	    	<input type="file" id="files" name="files" multiple="multiple">
			<!-- <a href="#this" id="save" class="btn">저장</a> -->
			<button type="button" id="save" class="btn">저장</button>
	    </form>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#save").on("click", function(){
				var frm = $("#frm")[0];
				frm.action = "/board/write"
				frm.submit();
			});
		});
	</script>
</html>